//
// Test
// --------------------------------------------------
@import '../core/fawn';

// Test
@include debug-contrast(#666, #fff, false, 'header');
.header .area {
  @include debug-contrast(#888, #fff);
}


.mq-screen {
  @include mq(sm) {
    content: 'sm';
  }
  @include mq(sm, min) {
    content: 'sm min';
  }

  @include mq(md) {
    content: 'md';
  }

  @include mq(1208px) {
    content: 'number';
  }
}

.only {
  @include mq-only(sm) {
    content: 'sm';
  }

  @include mq-only(sm, md) {
    content: 'sm, md';
  }

  @include mq-only(360px, lg) {
    content: '360px, lg';
  }

  @include mq-only(440px, 800px) {
    content: '440px, 800px';
  }

}

.bgsz {
  @include bgsz('./foo.png', 2, 100px, 200px) {
    background-repeat: no-repeat;
  }
}

.position-a {
  @include position(0);
}
.position-b {
  @include position(fixed, 0);
}

.position-c {
  @include position(fixed, 10px);
}


.youtube {
 @include youtube(560, 320);
}


input.placeholder {
  @include placeholder {
    color: #aaa;
  }
}


.header {
  z-index: z(header);
}
.modal {
  z-index: z(modal);
}
.modal-button {
  z-index: z(modal, images, body);
}

.color {
  background-color: c(background);
  .button {
    background-color: c(front, button, background);
    color: c(front, button, text);
  }
}

.foo {
  background-image: ur('pic.png');
}


