/*!
 * Fawn
 * v0.0.1
 */

.bgsz {
  width: 50px;
  height: 100px;
  background-image: url(./foo.png);
  background-size: 50px 100px;
  background-repeat: no-repeat; }

.position-a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.position-b {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.position-c {
  position: fixed;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px; }

.youtube {
  position: relative;
  overflow: hidden;
  padding-top: 57.14286%; }
  .youtube iframe {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%; }

input.placeholder::-webkit-input-placeholder {
  color: #aaa; }

input.placeholder:-moz-placeholder {
  opacity: 1;
  color: #aaa; }

input.placeholder::-moz-placeholder {
  opacity: 1;
  color: #aaa; }

input.placeholder:-ms-input-placeholder {
  color: #aaa; }

input.placeholder:placeholder-shown {
  color: #aaa; }

.header {
  z-index: 2; }

.modal {
  z-index: 4; }

.modal-button {
  z-index: 1; }

.color {
  background-color: #fff; }
  .color .button {
    background-color: #00b;
    color: #ffb; }

.foo {
  background-image: url(./assets/images/pic.png); }

.fluid {
  font-size: 12px; }

.fluid2 {
  font-size: 14px; }

@media (min-width: 22.5em) and (max-width: 62em) {

  .only {
    content: '360px, lg'; } }

@media (min-width: 27.5em) and (max-width: 50em) {

  .only {
    content: '440px, 800px'; } }

@media (min-width: 31.125em) {

  .fluid2 {
    font-size: calc(14px + ((1vw - 4.99px) * 2.0284)); } }

@media (min-width: 33.875em) {

  .fluid {
    font-size: calc(12px + ((1vw - 5.43px) * 2.67261)); } }

@media (min-width: 33.9375em) {

  .mq-screen {
    content: 'sm min'; } }

@media (min-width: 34em) and (max-width: 46.8125em) {

  .only {
    content: 'sm, md'; } }

@media (min-width: 61.9375em) {

  .fluid {
    font-size: 24px; }

  .fluid2 {
    font-size: 24px; } }

@media (max-width: 34em) {

  .mq-screen {
    content: 'sm'; }

  .only {
    content: 'sm'; } }

@media (max-width: 46.8125em) {

  .mq-screen {
    content: 'md'; } }

@media (max-width: 75.5em) {

  .mq-screen {
    content: 'number'; } }
