//
// Variables
// --------------------------------------------------

//== CSS Default Font Size
$css-default-font-size: 16px;

//== URL Replacement
$url-replacement: './assets/images/' !default;

//== Colors
$colors-map: (
  background: #fff,
  front: (
    text: #00e,
    button: (
      text: #ffb,
      background: #00b
    ),
    border: #aaa,
    accent: #ff0
  )
) !default;


//== Breakpoint
$screen: (
  sm: 544px,
  md: 749px,
  lg: 992px
) !default;


//== z-index
$z-map-reverse: false !default;
$z-map: (
  front: true,
  header: true,
  menu: true,
  modal: (
    button: true,
    images: (
      mask: true,
      body: true
    ),
    close: true
  )
) !default;


//== DEBUG: CSS Outlining
$debug-outlining: false !default;

//== PostCSS Assets
$postcss-assets: false !default;