//== Color Contrast Checker
// ## Reference
// relative luminance | Web Content Accessibility Guidelines (WCAG) 2.0 | W3C
// https://www.w3.org/TR/2008/REC-WCAG20-20081211/#relativeluminancedef

@use 'sass:color';
@use 'sass:math';

//== *sRGB
@function _xsRGB($color) {

  $xsRGB: $color / 255;

  @if($xsRGB <= 0.03928) {
    $xsRGB: $xsRGB / 12.92;
  } @else {
    $xsRGB: math.pow((($xsRGB + 0.055) / 1.055), 2.4);
  }

  @return $xsRGB;
}

//== Luminance
@function _luminance($color) {

  $R: _xsRGB(color.red($color));
  $G: _xsRGB(color.green($color));
  $B: _xsRGB(color.blue($color));

  @return (0.2126 * $R) + (0.7152 * $G) + (0.0722 * $B);
}


@mixin contrast($color1, $color2, $large-text: false, $comment: false) {
  $user-comment: '';
  $user-selector: '';
  $contrast-ratio: 0;
  $level: 'FAIL';
  $L1: _luminance($color1) + 0.05;
  $L2: _luminance($color2) + 0.05;

  @if($comment) {
    $user-comment: '#{$comment}\a ';
  }
  @if(&) {
    $user-selector: 'Selector: #{&}\a ';
  }

  @if($L1 > $L2) {
    $contrast-ratio: $L1 / $L2;
  } @else {
    $contrast-ratio: $L2 / $L1;
  }

  @if($large-text) {
    @if($contrast-ratio >= 4.5) {
      $level: 'AAA';
    } @else if($contrast-ratio >= 3) {
      $level: 'AA';
    }
  } @else {
    @if($contrast-ratio >= 7) {
      $level: 'AAA';
    } @else if($contrast-ratio >= 4.5) {
      $level: 'AA';
    }
  }
  @debug '\a ===\a #{$user-comment}#{$user-selector}Contrast: #{$contrast-ratio}:1\a Level: #{$level}\a ===';
}