//
// Mixins
// --------------------------------------------------

//== Background
@mixin bgsz($options...) {
  $option-length: length($options);

  $url: nth($options, 1);
  $ratio: 1;
  $width: 0;
  $height: 0;
  $background-size: 0;
  
  $background-only: false;

  @if($option-length > 1) {
    $ratio: nth($options, 2);
  }
  @if($option-length == 3) {
    @if(nth($options, 3)) {
      $background-only: true;
    }
  }
  @if($option-length == 5) {
    @if(nth($options, 5)) {
      $background-only: true;
    }
  }
  @if($postcss-assets) {
    $width: width(#{$url}, #{$ratio});
    $height: height(#{$url}, #{$ratio});
    $background-size: size(#{$url}, #{$ratio});      
  } @else {
    $width: nth($options, 3) / $ratio;
    $height: nth($options, 4) / $ratio;
    $background-size: $width $height;
  }

  @if(not $background-only) {
    width: $width;
    height: $height;
  }
  background-image: url(#{$url});
  background-size: $background-size;
  @content;
}
