//
// Mixins
// --------------------------------------------------

//== Color Contrast Checker
@mixin debug-contrast($color1, $color2, $large-text: false,$comment: false) {
  $user-comment: '';
  $user-selector: '';
  $contrast-ratio: 0;
  $level: 'FAIL';
  $L1: luminance($color1) + 0.05;
  $L2: luminance($color2) + 0.05;

  @if($comment) {
    $user-comment: '#{$comment}\a ';
  }
  @if(&) {
    $user-selector: 'Selector: #{&}\a ';
  }

  @if($L1 > $L2) {
    $contrast-ratio: $L1 / $L2;
  } @else {
    $contrast-ratio: $L2 / $L1;
  }

  @if($large-text) {
    @if($contrast-ratio >= 4.5) {
      $level: 'AAA';
    } @else if($contrast-ratio >= 3) {
      $level: 'AA';
    }
  } @else {
    @if($contrast-ratio >= 7) {
      $level: 'AAA';
    } @else if($contrast-ratio >= 4.5) {
      $level: 'AA';
    }
  }
  @debug '===\a #{$user-comment}#{$user-selector}Contrast: #{$contrast-ratio}:1\a Level: #{$level}\a ===';
}
