doctype html
html(lang='ja')
  head
    meta(charset='UTF-8')
    title Fawn
    link(href='https://fonts.googleapis.com/css?family=Quicksand:300:500', rel='stylesheet')
    link(rel='stylesheet', href='style.css')
  body
    :markdown-it(langPrefix='highlight-')
      # Fawn

      Sassを便利に使うためのMixinsとFunctionのライブラリ

      ## あるといいもの

      - [autoprefixer](https://github.com/postcss/autoprefixer)
      - [node-css-mqpacker](https://github.com/hail2u/node-css-mqpacker)
      - [postcss-assets](https://github.com/borodean/postcss-assets)

      ## Variables

      変数を変更して出力の結果を変更できます。

      | Variables | Type | Defalut | Description |
      | --- | --- | --- | --- |
      | $libsass-version | Number | 3.4 | libSassのバージョンを指定します。そのままでも問題ありません。 |
      | $ruby-sass | Boolean | false | RubyのSassを使っているか指定します。そのままでも問題ありません。 |
      | $postcss-assets | Boolean | false | postcss-assetsを使っているか指定します。 |
      | $url-replacement | String | './assets/images/' | 画像を保存しているパスを指定します。 |
      | $colors-map | Map | - | キーにキーワード、値に色を指定します。入れ子もできます。 |
      | $screen | Map | - | ブレイクポイントを指定します。 |
      | $z-map-reverse | Boolean | false | $z-mapのMapの順序を逆にします。 |
      | $z-map | Map | - | z-indexの順序を指定します。キーにキーワード、値はなんでもいいので文字列を入れてください。 |
      | $debug-outlining | Boolean | false | デバッグ用にアウトラインを表示するか。 |

      ---

      ## Mixins

      - Media Queries
      - Media Queries: Only
      - Background Size
      - Position
      - YouTube (Responsive)
      - Input Placeholder
      - Image Replacement
      - DEBUG: CSS Outlining
      - DEBUG: Color Contrast Checker

      ### Media Queries

      メディアクエリーを簡単に設定できます。  
      そのまま利用すると同じ@mediaルールが乱立してしまうので、[node-css-mqpacker](https://github.com/hail2u/node-css-mqpacker)といったメディアクエリーをまとめるプラグインなどと併用して使用してください。

      ```scss
      @include mq($size, $width: max) {...}
      ```

      | Name | Type | Defalut | Description |
      | --- | --- | --- | --- |
      | $size | String or Number | - | メディアクエリーのサイズ。$screen変数のキーか数値をpxで指定します。 |
      | $width | String | max | max か minを指定。 |

      #### 関連する変数

      ```scss
      $screen: (
        sm: 544px,
        md: 749px,
        lg: 992px
      ) !default;
      ```

      #### Example

      ```scss
      .foo {
        @include mq(sm) {
          content: 'max-width: 544px';
        }
        @include mq(md, min) {
          content: 'min-width: 748px';
        }
        @include mq(1200px) {
          content: 'max-width: 1200px';
        }
        @include mq(1200px, min) {
          content: 'max-width: 1199px';
        }
      }
      ```

      ### Media Queries: Only

      メディアクエリーの範囲を指定します。

      ```scss
      @include mq-only($min-width, $max-width) { ... }
      ```

      | Name | Type | Defalut | Description |
      | --- | --- | --- | --- |
      | $min-width | String or Number | - | 最小幅を指定します。$screen変数のキーか数値をpxで指定します。省略も可能です。 |
      | $max-width | String or Number | - | 最大幅を指定します。$max-widthの値を省略してキーを指定すると、一つ前のキーが$min-widthになります。 |

      #### 関連する変数

      ```scss
      $screen: (
        sm: 544px,
        md: 749px,
        lg: 992px
      ) !default;
      ```

      #### Example

      ```scss
      .foo {
        @include mq-only(sm) {
          content: '';
        }
        @include mq-only(md) {
          content: '';
        }
        @include mq(sm, lg) {
          content: '';
        }
        @include mq(300px, md) {
          content: '';
        }
        @include mq(890px, 1200px) {
          content: '';
        }
      }
      ```

      ### Background Size

      background-sizeの指定やwidth、heightをまとめて出力できます。
      またpostcss-assetsに対応しており、変数を有効化すると画像パスを入れるだけで画像サイズなどを出力します。

      ```scss
      @include bgsz($image-path, $pixel-ratio, $image-width, $image-height, $background-only) { ... }

      // postcss-assetsを有効
      @include bgsz($image-path, $ratio, $background-only) { ... }
      ```

      | Name | Type | Defalut | Description |
      | --- | --- | --- | --- |
      | $image-path | String | - | シングルクォーテーションかダブルクォーテーションで囲み、画像パスを指定します。 |
      | $pixel-ratio | Number | 1 | デバイス・ピクセル比を指定します。元画像の横幅と高さを指定した数値で割ります。 |
      | $image-width | Number | - | 画像の横幅を指定します。postcss-assetsが有効な場合は不要です。 |
      | $image-height | Number | - | 画像の高さを指定します。postcss-assetsが有効な場合は不要です。 |
      | $background-only | Boolean | false | background-imageとbackground-sizeのみを出力します。省略可。 |

      #### 関連する変数

      ```scss
      $postcss-assets: false !default;
      ```

      #### Example

      ```scss
      .foo {
        @include bgsz('./images/icon.png', 1, 40px, 40px);

        @include bgsz('./images/icon.png', 2, 40px, 40px, false) {
          background-repeat: none;
          background-position: 50% 50%;
        }      
      }

      // postcss-assetsあり
      .foo {
        @include bgsz('./images/icon.png');

        @include bgsz('./images/icon.png', 2, false) {
          background-repeat: none;
          background-position: 50% 50%;
        }
      }
      ```