//
// Documents 
// --------------------------------------------------
@import '../core/fawn';

body {
  max-width: 48em;
  margin: auto;
  padding: 0 2em;
  font-weight: 300;
  line-height: 1.68;
}
h1 {
  font-size: 3.5em;
  letter-spacing: 0.1em;
  font-family: 'Quicksand', sans-serif;
  color: #d77b1c;
  @include debug-contrast(#d77b1c, #fff, true, logo);
}
h2, h3, h4, h5 {
  margin-top: 4em;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin: 1em 0;
  font-size: 14px;
  th, td {
    padding: 1em 0.5em;
    &:nth-child(even) {
      background-color: #efefef;
    }
  }
  th {
    border: solid #aaa;
    border-width: 2px 0;
    text-align: left;
  }
  td {
    border-bottom: 1px solid #bbb;
  }
}

hr {
  height: 1px;
  border: 0;
}